/*index.css*/
html {
    overflow: hidden;
    height: 100%;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}
/* status start */
.status {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    font-weight: 600;
}
.red {
    background: #F44339;
    color: #fff;
}
.green {
    background: #00EE66;
    color: #fff;
}
.yellow {
    background: #FFFF66;
    color: #000;
}
/* status end */

/* container start */
.container {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    height: 100%;
    background: #000;
}
/* content start */
.content {
    margin: 0 auto;
    padding: 0;
    width: 960px;
    height: 150px;
    background: #000;
}
/* content end */
/* log start */
.log {
	width: 960px;
	height: 200px;
	color: #fff;
	overflow-y: scroll;
}
/* log end */
/* ctrl start */
.btn {
	position: relative;
    width: 100px;
    height: 30px;
    border-style: none;
    border-radius: 15px;
}
.btn:hover {
    cursor: pointer;
    background: #ccc;
}
.join {
    left: 50px;
    top: 50px;
}
.join:hover {
    cursor: pointer;
    background: #ccc;
}
.start {
    left: 100px;
    top: 50px;
}
.renew {
    left: 150px;
    top: 50px;
}
/* ctrl end */
/* container end*/



/* hp bar */
.hpbar{
    position: relative;
    top:22px;
    width: 400px;
    height: 30px;
    background: #F44339;
    float: left;
}
/* hp bar */


.player {
    position: relative;
    top: 65px;
    width: 80px;
    height: 78px;
    background-image: url('../image/player.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    float: left;
}

.me {
    border: 1px solid #eee;
}

#c0 {
    left: 300px;
}

#c1 {
    left: 620px;
}

.right {
}

.left {
    transform:rotateY(180deg);
}

.ctl {
    position: absolute;
    bottom: 0px;
}