/*index.css*/
html {
    overflow: hidden;
}
body {
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: gray;
}
.content {
    position: fixed;
    top: 0px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin: 0;
    padding: 0;
    background: #000;
}

.character {
    position: absolute;
    top: 30px;
    width: 80px;
    height: 78px;
    background-image: url('../image/character.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.ctl {
    position: absolute;
    bottom: 0px;
}

#c1 {
    left: 300px;
}

#c2 {
    left: 620px;
    transform:rotateY(180deg);
}