<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
<title>Frame Example</title>
<link rel="stylesheet" type="text/css" href="static/css/index.css">

</head>
<body>
	<div class="playerId"></div>
	<div class="content">
		<!-- <div class="character" id="c1"></div> -->
		<!-- <div class="character" id="c2"></div> -->
	</div>
	<div class="ctl">
		<button class="btn" id="idle">idle</button>
		<button class="btn" id="run">run</button>
		<button class="btn" id="attack">attack</button>
		<button class="btn" id="dead">dead</button>
		<button class="btn" id="start">start</button>
	</div>

	<script src="static/js/jquery-3.3.1.min.js"></script>
    <script src="static/js/sockjs.min.js"></script>
    <script src="static/js/stomp.min.js"></script>
	<script src="static/js/index.js"></script>
    <script src="static/js/websocket.js"></script>
	<script src="static/js/character.js"></script>
</body>
</html>